.dropdown {
    img {
        width: 60px;
        height: 60px;
    }
}
.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
    background: var(--tbs-bg-primary-color);
    border: solid 1px var(--tbs-bg-secondary-color);
    border-radius: var(--tbs-border-radius-sm);
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    list-style-type: none;
    width: 100%;
    min-width: 200px;
    overflow: hidden;

    //THIS WILL ADD TRIANGLE ARROW
    // &:before {
    //     position: absolute;
    //     top: -10px;
    //     right: 20px;
    //     display: block;
    //     content: "";
    //     width: 0; 
    //     height: 0; 
    //     border-left: 10px solid transparent;
    //     border-right: 10px solid transparent;
        
    //     border-bottom: 10px solid var(--tbs-bg-primary-color);
    //     filter: drop-shadow(0 0 0 #989898);
    // }
}

.dropdown-menu a,
.dropdown-menu span {
    padding: var(--tbs-space-md);
    font-size: var(--tbs-font-sm);
    cursor: pointer;
}

.dropdown-menu li:hover {
  background: color-mix(in srgb,var(--tbs-bg-primary-color),#000 7%);
}

.dropdown-menu.show {
  display: block;
}