.gallery-wrapper {
    .gallery-list {
        background: var(--tbs-bg-secondary-color);
        border-radius: var(--tbs-border-radius-sm);
        box-shadow: 2px 2px 3px color-mix(in srgb,var(--tbs-bg-primary-color),#000 12%);
        padding: var(--tbs-space-sm);
    }
    .gallery-image-wrapper {
        border-radius: var(--tbs-border-radius-sm);
        img {
            aspect-ratio: 2/1;
            min-height: 140px;
        }
    }
    .gallery-description-wrapper {
        position: relative;
        padding: var(--tbs-space-md) 0;

        // .price {
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        // }
    }
    button {
        height: max-content;
    }
}