.side-nav-hamburger {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--tbs-space-md);
    background: var(--tbs-bg-secondary-color);
    color: var(--tbs-font-primary-color);
}
#side-nav {
    background: var(--tbs-nav-bg-color);
    padding: 0 var(--tbs-space-md);
    width: 100px;
    height: 100%;
    transition: all ease 0.5s;
    position: relative;

    .side-nav-close {
        position: absolute;
        top: 0;
        right: -38px;
        padding: 15px;
        background: var(--tbs-nav-bg-color);
        i {
            font-size: 12px;
            color: var(--tbs-nav-list-font-color);
        }
    }

    .side-nav-logo-wrapper {
        padding: var(--tbs-space-md) var(--tbs-space-lg);
        min-height: 68px;
        display: flex;
        align-items: center;
    }

    .side-nav-list.active,
    .side-nav-list:hover {
        background: var(--tbs-nav-list-bg-color-hover);
        color: var(--tbs-nav-list-font-color-hover);
    }

    .side-nav-list {
        background: var(--tbs-nav-list-bg-color);
        color: var(--tbs-nav-list-font-color);
        font-size: var(--tbs-font-md);
        border-radius: var(--tbs-border-radius-sm);
        cursor: pointer;
        align-items: center;
        display: flex;
        margin: var(--tbs-space-sm) 0;
        overflow: hidden;

        a {
            display: flex;
            padding: var(--tbs-space-md) var(--tbs-space-lg);
        }
        span {
            position: relative;
            right: 0;
            opacity: 0;
            line-height: 16px;
            transition: all ease 0.5s;
        }
        i {
            opacity: 0.7;
        }
    }

    &.active {
        width: 350px;
        .side-nav-list {
            span {
                opacity: 1;
            }
        }
    }

    //Mini version of side navigation
    &.mini-nav.active {
        width: 185px;

        .side-nav-list {
            font-size: var(--tbs-font-sm);
        }
    }

    //Mobile View
    &.isMobile {
        position: fixed;
        left: -100px;
        padding: 0;
  
    }
    &.active.isMobile {
        left: 0;
    }
}





//Hamburger Icon
#hamburger-icon-menu-wrapper {
    position: absolute;
    top: 0;
    right: -38px;
    background: var(--tbs-nav-bg-color);
    padding: 15px 12px;
    border-radius: var(--tbs-border-radius-sm);
}
#hamburger-icon-menu {
    width: 18px;
    height: 18px;
    position: relative;
    left: 1px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #hamburger-icon-menu span {
    display: block;
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: var(--tbs-nav-list-font-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  #hamburger-icon-menu span:nth-child(1) {
    top: 4px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #hamburger-icon-menu span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #hamburger-icon-menu span:nth-child(3) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #hamburger-icon-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 4px;
    left: 0;
  }
  
  #hamburger-icon-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #hamburger-icon-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 0;
  }