.toast-wrapper {
    position: absolute;
    z-index: 5;
    border-radius: var(--tbs-border-radius-xs);
    &.top-left {
        top: 20px;
        left: 20px;
        //Exit animation
        &.fade-top {
            animation: fadeTop 0.5s ease-in-out;
        }
    }
    &.top-center {
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        //Exit animation
        &.fade-top {
            animation: fadeTopCenter 0.5s ease-in-out;
        }
    }
    &.top-right {
        top: 20px;
        right: 20px;
        //Exit animation
        &.fade-top {
            animation: fadeTop 0.5s ease-in-out;
        }
    }

    &.bottom-left {
        bottom: 20px;
        left: 20px;
        //Exit animation
        &.fade-top {
            animation: fadeTop 0.5s ease-in-out;
        }
    }
    &.bottom-center {
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        //Exit animation
        &.fade-top {
            animation: fadeTopCenter 0.5s ease-in-out;
        }
    }
    &.bottom-right {
        bottom: 20px;
        right: 20px;
        //Exit animation
        &.fade-top {
            animation: fadeTop 0.5s ease-in-out;
        }
    }

    &.success {
        background: #00ab41;
        color: #fff;
    }
    &.warning {
        background: orange;
        color: #fff;
    }
    &.error {
        background: rgb(255, 118, 118);
        color: #fff;
    }
}