//FONTS
h1 {
    font-size: var(--tbs-font-xxl);
}
h2 {
    font-size: var(--tbs-font-xl);
}
h3 {
    font-size: var(--tbs-font-lg);
}
h4 {
    font-size: var(--tbs-font-md);
}
h5 {
    font-size: var(--tbs-font-sm);
}
h6 {
    font-size: var(--tbs-font-xs);
}

p, label, span {
    font-size: var(--tbs-font-sm);
}



img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1; //To fix Cumulative Layout Shift 
}


//FORMS
label {
    font-size: var(--tbs-font-sm);
}
input {
    margin: var(--tbs-space-sm) 0;
}



//BUTTONS
button {
    padding: var(--tbs-space-sm) var(--tbs-space-md);
    border-radius: var(--tbs-border-radius-sm);
}

.tbs-btn-primary {
    background: var(--tbs-btn-bg-primary-color);
    color: var(--tbs-font-primary-color);
    border: solid 1px var(--tbs-font-primary-color);
}

.tbs-btn-secondary {
    background: var(--tbs-btn-bg-secondary-color);
    color: var(--tbs-font-secondary-color);
}


//TABLE
.p-datatable {
    border-radius: var(--tbs-border-radius-sm);
    overflow: hidden;
}

#dashboard-wrapper {
    display: flex;
    height: 100%;
}
header {
    padding: var(--tbs-space-md) var(--tbs-space-lg);
}
main {
    width: 93%;
    background: var(--tbs-bg-primary-color);
    padding: 0 var(--tbs-space-lg);
}