//FONTS
h1 {
    @include text(
        --tbs-font-xxl,
        700
    )
}
h2 {
    @include text(
        --tbs-font-xl,
        400
    )
}
h3 {
    @include text(
        --tbs-font-lg,
        400
    )
}
h4 {
    @include text(
        --tbs-font-md,
        400
    )
}
h5 {
    @include text(
        --tbs-font-sm,
        400
    )
}
h6 {
    @include text(
        --tbs-font-xs,
        400
    )
}

p, label, span {
    @include text(
        --tbs-font-sm,
        400
    )
}



img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1; //To fix Cumulative Layout Shift 
}


//FORMS
input {
    margin: var(--tbs-space-sm) 0;
}



//BUTTONS
button {
    @extend %buttonProperties;
}

.tbs-btn-primary {
    //BG, FONT COLOR, BORDER COLOR
    @include button(
        --tbs-btn-bg-primary-color,
        --tbs-btn-font-primary-color,
        --tbs-btn-font-primary-color
    )
}
.tbs-btn-secondary {
    //BG, FONT COLOR, BORDER COLOR
    @include button(
        --tbs-btn-bg-secondary-color,
        --tbs-btn-font-secondary-color,
        none
    )
}


//TABLE
.p-datatable {
    border-radius: var(--tbs-border-radius-sm);
    box-shadow: 2px 2px 5px #e8e8e8;
    overflow: hidden;
    // overflow: hidden;
}
table {
    border-radius: var(--tbs-border-radius-sm);
    tr:nth-child(even) {
        background: var(--tbs-bg-primary-color);
    }
}

#dashboard-wrapper {
    display: flex;
    height: 100%;
}
header {
    padding: var(--tbs-space-md) var(--tbs-space-lg);
}
main {
    width: 100%;
    background: var(--tbs-bg-primary-color);
    padding: 0 var(--tbs-space-lg) var(--tbs-space-lg) var(--tbs-space-lg);
    overflow: auto;
}