/* 
    Add this class to parent wrapper
    It will create spacing to its child elements
*/
.my-gap-sm {
    > * {
        margin-bottom: var(--tbs-space-sm);
    }
    > *:last-child {
        margin-bottom: 0;
    }
}

.my-gap-md {
    > * {
        margin-bottom: var(--tbs-space-md);
    }
    > *:last-child {
        margin-bottom: 0;
    }
}



.mx-gap-sm {
    > * {
        margin-right: var(--tbs-space-sm);
    }
    > *:last-child {
        margin-right: 0;
    }
}

.mx-gap-md {
    > * {
        margin-right: var(--tbs-space-md);
    }
    > *:last-child {
        margin-right: 0;
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 115px;
}