// @font-face {
//     font-family: 'Roboto';
//     src: url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
//     font-display: swap;
// }
@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

html {
    @import "variables";
    @import "mixins";
    @import "placeholder";
    @import "base";
    @import "helpers";
    @import "animations";
    @import "mediaqueries";

    //components
    @import "pages/login";
}